In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%pylab inline
import os

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('https://s3.amazonaws.com/tripdata/201611-citibike-tripdata.zip', compression = 'zip')

In [3]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,331,2016-11-01 00:00:08,2016-11-01 00:05:40,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,419,Carlton Ave & Park Ave,40.695807,-73.973556,21959,Subscriber,1981.0,1
1,740,2016-11-01 00:00:08,2016-11-01 00:12:29,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,265,Stanton St & Chrystie St,40.722293,-73.991475,20172,Subscriber,1991.0,1
2,229,2016-11-01 00:00:11,2016-11-01 00:04:00,3074,Montrose Ave & Bushwick Ave,40.707678,-73.940162,3068,Humboldt St & Varet St,40.703172,-73.940636,22995,Subscriber,1984.0,1
3,155,2016-11-01 00:00:18,2016-11-01 00:02:53,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,3323,W 106 St & Central Park West,40.798186,-73.960591,22022,Subscriber,1973.0,1
4,772,2016-11-01 00:00:23,2016-11-01 00:13:15,346,Bank St & Hudson St,40.736529,-74.006180,432,E 7 St & Avenue A,40.726218,-73.983799,17324,Subscriber,1988.0,1

In [ ]:
# xmin, xmax = pl.xlim()
# x = np.linspace(min(all_z), max(all_z), 100)
# p = scipy.stats.norm.pdf(x, 0, 1)

# pl.hist(all_z,bins=100, normed=True, label='z statistics')
# pl.plot(x, p, 'k', linewidth=2, color = 'red', label='N(0,1)')
# pl.xlabel('z statistics', fontsize = 18)
# pl.ylabel('probability', fontsize = 18)
# pl.title('Distribution of z statistics with fitted normal distribution curve (N(0,1))', fontsize = 15)
# pl.legend()

plt.plot(df.)




plt.show()