#### Z statistics formula
$Z = \frac{\mu_{pop} - \mu_{sample}}{\sigma / \sqrt{N}} $

### Null Hypothesis

# _$H_0$_ : $\frac{C_{\mathrm{>= 700s}}}{C_{\mathrm{<700s}}} >= \frac{S_{\mathrm{>=700}}}{S_{\mathrm{<700s}}}$
# _$H_1$_ : $\frac{C_{\mathrm{>= 700s}}}{C_{\mathrm{<700s}}} < \frac{S_{\mathrm{>=700}}}{S_{\mathrm{<700s}}}$

In [1]:
import numpy as np
import pandas as pd

In [12]:
url = 'https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab3_fb55/times.txt'
time = pd.read_table(url, header = None)

In [15]:
time.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550