# Skeleton of Assignment 4:
    test if the distribution of 
    
    1) trip duration of bikers that ride during the day vs night
    
    2) age of bikers for trips originating in Manhattan and in Brooklyn
    
    are different. Use 3 tests: KS, Pearson's, Spearman's. 
    
    Use the scipy.stats functions scipy.stats.ks_2samp, scipy.stats.pearsonr, scipy.stats.spearmanr. 
    
    For the KS do the test with the entire dataset and with a subset 200 times smaller
    
    Choose a single significant threshold for the whole exercise. 
    
    For each test phrase the Null Hypothesis in words.
    
    Describe the return of the scipy function you use in each case.
    
    State the result in terms of rejection of the Null.

In [1]:
# my usual imports and setups
import pylab as pl
import pandas as pd
import numpy as np

%pylab inline
import os

Populating the interactive namespace from numpy and matplotlib

# Read in data
I am reading in data from January 2015 with the function that I created getCitiBikeCSV. You are requested to use 2 months at least. It would be a good idea to use data from a colder and a warmer months, since there are more riders in the warm weather and ridership patterns may change with weather, temperature, etc. You should use data from multiple months, joining multiple datasets (thus addressing some systematic errors as well)

In [2]:
df1 = pd.read_csv('https://s3.amazonaws.com/tripdata/JC-201608-citibike-tripdata.csv.zip', compression = 'zip')
df2 = pd.read_csv('https://s3.amazonaws.com/tripdata/JC-201701-citibike-tripdata.csv.zip', compression = 'zip')

In [3]:
df = pd.concat([df1, df2])
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,165,2016-08-01 00:09:40,2016-08-01 00:12:25,3270,Jersey & 6th St,40.725289,-74.045572,3273,Manila & 1st,40.721651,-74.042884,24679,Subscriber,1968.0,1
1,705,2016-08-01 01:45:08,2016-08-01 01:56:53,3186,Grove St PATH,40.719586,-74.043117,3206,Hilltop,40.731169,-74.057574,24530,Subscriber,1978.0,1
2,854,2016-08-01 02:22:26,2016-08-01 02:36:41,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24649,Subscriber,1988.0,1
3,211,2016-08-01 03:05:10,2016-08-01 03:08:41,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24624,Subscriber,1986.0,1
4,506,2016-08-01 03:25:42,2016-08-01 03:34:09,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24624,Subscriber,1986.0,1

In [4]:
df.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

# 1) trip duration of bikers that ride during the day vs night

**H0: there is no statistical difference in the trip duration of bikers at day time vs at night**
$$ \alpha = 0.05 $$

In [5]:
df1 = df[['Trip Duration', 'Start Time']]
df1['date'] = pd.to_datetime(df1['Start Time'])
df1['hour'] = list(map(lambda x: x.hour, df1.date))

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df1['day_or_night'] = list(map(lambda x: int((x >= 6) & (x <= 19)), df1.hour))

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df1['day'] = df1.day_or_night
df1['night'] = df1.day_or_night == 0
df1.night = df1.night.astype(int)
df1.head()

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/baiyue/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,Trip Duration,Start Time,date,hour,day_or_night,day,night
0,165,2016-08-01 00:09:40,2016-08-01 00:09:40,0,0,0,1
1,705,2016-08-01 01:45:08,2016-08-01 01:45:08,1,0,0,1
2,854,2016-08-01 02:22:26,2016-08-01 02:22:26,2,0,0,1
3,211,2016-08-01 03:05:10,2016-08-01 03:05:10,3,0,0,1
4,506,2016-08-01 03:25:42,2016-08-01 03:25:42,3,0,0,1

lets run the scipy KS test

In [7]:
import scipy.stats
#remember that your imports should all be at the top. I leave it here to hightlight that this package is needed at this point of the workflow

# KS tests to compare 2 samples

http://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ks_2samp.html

the KS test in scipy returns the p-value BUT make sure you understand what the NULL is! read the documentation carefully! what is the null hypothesis that you can/cannot reject?

In [21]:

ks = scipy.stats.ks_2samp(df1[df1.day == 1]['Trip Duration'], df1[df1.day == 0]['Trip Duration'])
print (ks)
# since the pvalue is low, we can reject the null hypothesis

Ks_2sampResult(statistic=0.022427125405682327, pvalue=0.002671001627538088)

**  FILL IN THE CELL BELOW!**

###### since the pvalue is lower than 0.05, we can reject the null hypothesis, which implies that the during of trips took place at night and at day time are statistically different

The scipy.stats KS test already tells me the significance and the p-value. 

The next few cells are here just to show you how you would obtain the same result by hand, but they are **not required**. 

Remember: the Null hypothesis is rejected if 

$D_KS(n1,n2) > c(\alpha) \sqrt{\frac{(n1 + n2)}{n1n2}}$

(see class notes) where $c(\alpha$) is the inverse of the KS distribution, and you do not have to know how to get that cause there are tables that list critical values!! 

http://www.real-statistics.com/tests-normality-and-symmetry/statistical-tests-normality-symmetry/kolmogorov-smirnov-test/kolmogorov-distribution/

But also this result depends in your choice of binning through, and thustheresultyou get by hand may not be exactly the same as the one the KS returns. Either way: this is how you would calculate the KS statistics by hand.

# Now retest using a test for correlation. 

That will answer a slightly different question though - formulate the NULL appropriately. The tests for correlations (generally) requires the variable to be paired, so that I can tell if x changes does y change similarly. But the datasets are of different size! You will need to reduce them to the same size. You can do that by subsampling of the data: take only 1 ride every of 200, which you can achieve "slicing and broadcasting" the array or using one of the python function (built in python numpy.random.choice() functions for example: Docstring:
choice(a, size=None, replace=True, p=None)

Generates a random sample from a given 1-D array

        .. versionadded:: 1.7.0

Parameters
...

But make sure you understand how to use it! there is an option "replace" which you should think about.

# Pearson's  test for correlation

** notice that the Pearson's is a pairwise test: the samples need to be **
 a. the same size
 b. sorted! (how??)
    
http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html#scipy.stats.pearsonr

In [25]:
# your code here!
# wrangle the data as needed
# please perform the Pearson's test 
# and tell me what you find in terms of NULL hypothesis
r1, pval1 = scipy.stats.pearsonr(np.sort(df1['Trip Duration']*df1.day), np.sort(df1['Trip Duration']*df1.night))
print(r1, pval1)
print('the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis')

0.930110808633 0.0
the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis

# Spearman's  test for correlation

http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html#scipy.stats.spearmanr

In [31]:
# your code here!
# wrangle the data as needed
# please perform the Spearman's test and tell me what you find in terms of NULL hypothesisc
r11, pval11= scipy.stats.spearmanr(df1['Trip Duration']*df1.day, df1['Trip Duration']*df1.night)
print(r11, pval11)
print('The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha')

-0.644472062233 0.0
The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha

In [35]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [38]:
df.location = list(zip(df['Start Station Latitude'],df['Start Station Longitude']))
# geolocator.reverse(zip(df['Start Station Latitude'][1],df['Start Station Longitude'][1])).raw

In [47]:
geolocator.reverse(df.location[13498]).raw

{'address': {'building': 'Exchange Place Center',
  'city': 'Jersey City',
  'country': 'United States of America',
  'country_code': 'us',
  'county': 'Hudson County',
  'neighbourhood': 'Colgate Center',
  'postcode': '07302',
  'road': 'Christopher Columbus Drive',
  'state': 'New Jersey'},
 'boundingbox': ['40.7163962', '40.7169426', '-74.0338875', '-74.0327492'],
 'display_name': 'Exchange Place Center, Christopher Columbus Drive, Colgate Center, Jersey City, Hudson County, New Jersey, 07302, United States of America',
 'lat': '40.71667385',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 'lon': '-74.0333081035378',
 'osm_id': '259774431',
 'osm_type': 'way',
 'place_id': '130844681'}

In [61]:
bk_zip = [11212, 11213, 11216, 11233, 11238, 11209, 11214, 11228,1204,
          11218, 11219, 11230,11234, 11236, 11239,11223, 11224, 11229, 
          11235,11201, 11205, 11215, 11217, 11231,1203, 11210, 11225, 
          11226,11207, 11208,11211, 11222,11220, 11232,1206, 11221, 11237]
          
mn_zip = [10026, 10027, 10030, 10037, 10039,10001, 10011, 10018, 
          10019, 10020, 10036,10029, 10035, 10010, 10016, 10017, 
          10022,10012, 10013, 10014,10004, 10005, 10006, 10007, 
          10038, 10280, 10002, 10003, 10009,10021, 10028, 10044, 
          10065, 10075, 10128,10023, 10024, 10025, 10031, 10032, 10033, 10034, 10040]

bk_zip = list(map(str, bk_zip))
mn_zip = list(map(str, mn_zip))

#source: https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm

In [65]:
def get_zip(location): 
    zipcode = geolocator.reverse(location).raw['address']['postcode']
    return(zipcode)

In [89]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
df['zip'] = 0

In [96]:
for i in range(10):
    res = search.by_coordinate(df.location[i][0], df.location[i][1], returns=1)
    df.zip[i] = res[0]['Zipcode']

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [97]:
df.head(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,bkmn,zip
0,165,2016-08-01 00:09:40,2016-08-01 00:12:25,3270,Jersey & 6th St,40.725289,-74.045572,3273,Manila & 1st,40.721651,-74.042884,24679,Subscriber,1968.0,1,0,7302
1,705,2016-08-01 01:45:08,2016-08-01 01:56:53,3186,Grove St PATH,40.719586,-74.043117,3206,Hilltop,40.731169,-74.057574,24530,Subscriber,1978.0,1,0,7302
2,854,2016-08-01 02:22:26,2016-08-01 02:36:41,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24649,Subscriber,1988.0,1,0,7302
3,211,2016-08-01 03:05:10,2016-08-01 03:08:41,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24624,Subscriber,1986.0,1,0,7306
4,506,2016-08-01 03:25:42,2016-08-01 03:34:09,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24624,Subscriber,1986.0,1,0,7306
5,132,2016-08-01 04:17:50,2016-08-01 04:20:03,3213,Van Vorst Park,40.718489,-74.047727,3186,Grove St PATH,40.719586,-74.043117,24663,Subscriber,1965.0,1,0,7302
6,172,2016-08-01 04:41:49,2016-08-01 04:44:41,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1982.0,1,0,7302
7,776,2016-08-01 05:14:20,2016-08-01 05:27:17,3207,Oakland Ave,40.737604,-74.052478,3276,Marin Light Rail,40.714584,-74.042817,24532,Subscriber,1984.0,2,0,7307
8,629,2016-08-01 05:18:08,2016-08-01 05:28:37,3212,Christ Hospital,40.734786,-74.050444,3195,Sip Ave,40.730743,-74.063784,24561,Subscriber,1965.0,1,0,7307
9,325,2016-08-01 05:20:48,2016-08-01 05:26:13,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730743,-74.063784,24721,Subscriber,1958.0,1,0,7307

In [ ]:
def get_mnbk(zipcode): 
    if zipcode in bk_zip: 
        return(1)
    if zipcode in mn_zip:
        return(0)
    else: 
        return(2)
df['mnbk'] = 0
df.mnbk = list(map(get_mnbk, df.zip))

In [ ]:
df.age = 2017 - df['Birth Year']

In [ ]:
ks = scipy.stats.ks_2samp(df[df.mnbk == 1]['age'], df[df.mnbk == 0]['age'])
print (ks)
# since the pvalue is low, we can reject the null hypothesis

In [ ]:
# your code here!
# wrangle the data as needed
# please perform the Pearson's test 
# and tell me what you find in terms of NULL hypothesis
r2, pval2 = scipy.stats.pearsonr(np.sort(df.age*df.bk), np.sort(df.age*df.mn))
print(r2, pval2)
print('the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis')

In [ ]:

# wrangle the data as needed
# please perform the Spearman's test and tell me what you find in terms of NULL hypothesisc
r22, pval22= scipy.stats.spearmanr(df.age*df.bk, df.age*df.mn)
print(r22, pval22)
print('The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha')