# Skeleton of Assignment 4:
    test if the distribution of 
    
    1) trip duration of bikers that ride during the day vs night
    
    2) age of bikers for trips originating in Manhattan and in Brooklyn
    
    are different. Use 3 tests: KS, Pearson's, Spearman's. 
    
    Use the scipy.stats functions scipy.stats.ks_2samp, scipy.stats.pearsonr, scipy.stats.spearmanr. 
    
    For the KS do the test with the entire dataset and with a subset 200 times smaller
    
    Choose a single significant threshold for the whole exercise. 
    
    For each test phrase the Null Hypothesis in words.
    
    Describe the return of the scipy function you use in each case.
    
    State the result in terms of rejection of the Null.

In [1]:
# my usual imports and setups
import pylab as pl
import pandas as pd
import numpy as np

%pylab inline
import os

Populating the interactive namespace from numpy and matplotlib

# Read in data
I am reading in data from January 2015 with the function that I created getCitiBikeCSV. You are requested to use 2 months at least. It would be a good idea to use data from a colder and a warmer months, since there are more riders in the warm weather and ridership patterns may change with weather, temperature, etc. You should use data from multiple months, joining multiple datasets (thus addressing some systematic errors as well)

In [119]:
df1 = pd.read_csv('https://s3.amazonaws.com/tripdata/201604-citibike-tripdata.zip', compression = 'zip')
df2 = pd.read_csv('https://s3.amazonaws.com/tripdata/201612-citibike-tripdata.zip', compression = 'zip')

In [120]:
df = pd.concat([df1, df2])
df.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,St Marks Pl & 2 Ave,1.0,254.0,40.735324,-73.998004,W 11 St & 6 Ave,4/1/2016 00:00:26,4/1/2016 00:08:42,496.0,Subscriber
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clinton St & Grand St,1.0,311.0,40.717227,-73.988021,Norfolk St & Broome St,4/1/2016 00:00:27,4/1/2016 00:02:12,104.0,Subscriber
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pulaski St & Marcus Garvey Blvd,1.0,3064.0,40.696820,-73.937569,Myrtle Ave & Lewis Ave,4/1/2016 00:00:30,4/1/2016 00:02:38,128.0,Subscriber
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8 Ave & W 33 St,1.0,3156.0,40.766638,-73.953483,E 72 St & York Ave,4/1/2016 00:00:34,4/1/2016 00:20:31,1197.0,Subscriber
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington St & Gansevoort St,2.0,116.0,40.741776,-74.001497,W 17 St & 8 Ave,4/1/2016 00:00:46,4/1/2016 00:07:46,419.0,Subscriber

In [121]:
df.columns

Index(['Bike ID', 'Birth Year', 'End Station ID', 'End Station Latitude',
       'End Station Longitude', 'End Station Name', 'Gender',
       'Start Station ID', 'Start Station Latitude', 'Start Station Longitude',
       'Start Station Name', 'Start Time', 'Stop Time', 'Trip Duration',
       'User Type', 'bikeid', 'birth year', 'end station id',
       'end station latitude', 'end station longitude', 'end station name',
       'gender', 'start station id', 'start station latitude',
       'start station longitude', 'start station name', 'starttime',
       'stoptime', 'tripduration', 'usertype'],
      dtype='object')

# 1) trip duration of bikers that ride during the day vs night

**H0: there is no statistical difference in the trip duration of bikers at day time vs at night**
$$ \alpha = 0.05 $$

In [122]:
df1 = df[['Trip Duration', 'Start Time']]
df1['date'] = pd.to_datetime(df1['Start Time'])
df1['hour'] = list(map(lambda x: x.hour, df1.date))

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [123]:
df1['day_or_night'] = list(map(lambda x: int((x >= 6) & (x <= 19)), df1.hour))

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [126]:
df1['day'] = df1.day_or_night
df1['night'] = df1.day_or_night == 0
df1.night = df1.night.astype(int)
df1.dropna()

/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/baiyue/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/baiyue/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,Trip Duration,Start Time,date,hour,day_or_night,day,night
0,528.0,2016-12-01 00:00:04,2016-12-01 00:00:04,0.0,0,0,1
1,218.0,2016-12-01 00:00:28,2016-12-01 00:00:28,0.0,0,0,1
2,399.0,2016-12-01 00:00:39,2016-12-01 00:00:39,0.0,0,0,1
3,254.0,2016-12-01 00:00:44,2016-12-01 00:00:44,0.0,0,0,1
4,1805.0,2016-12-01 00:00:54,2016-12-01 00:00:54,0.0,0,0,1
5,483.0,2016-12-01 00:01:13,2016-12-01 00:01:13,0.0,0,0,1
6,1114.0,2016-12-01 00:01:37,2016-12-01 00:01:37,0.0,0,0,1
7,2680.0,2016-12-01 00:01:50,2016-12-01 00:01:50,0.0,0,0,1
8,1967.0,2016-12-01 00:01:52,2016-12-01 00:01:52,0.0,0,0,1
9,356.0,2016-12-01 00:01:54,2016-12-01 00:01:54,0.0,0,0,1
10,298.0,2016-12-01 00:01:54,2016-12-01 00:01:54,0.0,0,0,1
11,315.0,2016-12-01 00:02:05,2016-12-01 00:02:05,0.0,0,0,1
12,735.0,2016-12-01 00:02:10,2016-12-01 00:02:10,0.0,0,0,1
13,361.0,2016-12-01 00:02:10,2016-12-01 00:02:10,0.0,0,0,1
14,1633.0,2016-12-01 00:02:18,2016-12-01 00:02:18,0.0,0,0,1
15,128.0,2016-12-01 00:02:18,2016-12-01 00:02:18,0.0,0,0,1
16,1041.0,2016-12-01 00:02:35,2016-12-01 00:02:35,0.0,0,0,1
17,142.0,2016-12-01 00:02:53,2016-12-01 00:02:53,0.0,0,0,1
18,256.0,2016-12-01 00:03:17,2016-12-01 00:03:17,0.0,0,0,1
19,200.0,2016-12-01 00:03:58,2016-12-01 00:03:58,0.0,0,0,1
20,957.0,2016-12-01 00:04:09,2016-12-01 00:04:09,0.0,0,0,1
21,653.0,2016-12-01 00:04:20,2016-12-01 00:04:20,0.0,0,0,1
22,553.0,2016-12-01 00:06:43,2016-12-01 00:06:43,0.0,0,0,1
23,318.0,2016-12-01 00:07:04,2016-12-01 00:07:04,0.0,0,0,1
24,145.0,2016-12-01 00:07:44,2016-12-01 00:07:44,0.0,0,0,1
25,873.0,2016-12-01 00:08:00,2016-12-01 00:08:00,0.0,0,0,1
26,274.0,2016-12-01 00:08:14,2016-12-01 00:08:14,0.0,0,0,1
27,309.0,2016-12-01 00:09:27,2016-12-01 00:09:27,0.0,0,0,1
28,214.0,2016-12-01 00:09:28,2016-12-01 00:09:28,0.0,0,0,1
29,199.0,2016-12-01 00:09:57,2016-12-01 00:09:57,0.0,0,0,1
...,...,...,...,...,...,...,...
812162,1534.0,2016-12-31 23:45:48,2016-12-31 23:45:48,23.0,0,0,1
812163,870.0,2016-12-31 23:46:35,2016-12-31 23:46:35,23.0,0,0,1
812164,191.0,2016-12-31 23:46:46,2016-12-31 23:46:46,23.0,0,0,1
812165,519.0,2016-12-31 23:46:50,2016-12-31 23:46:50,23.0,0,0,1
812166,549722.0,2016-12-31 23:47:26,2016-12-31 23:47:26,23.0,0,0,1
812167,346.0,2016-12-31 23:47:26,2016-12-31 23:47:26,23.0,0,0,1
812168,197.0,2016-12-31 23:47:30,2016-12-31 23:47:30,23.0,0,0,1
812169,1806.0,2016-12-31 23:48:29,2016-12-31 23:48:29,23.0,0,0,1
812170,1768.0,2016-12-31 23:48:51,2016-12-31 23:48:51,23.0,0,0,1
812171,1855.0,2016-12-31 23:48:49,2016-12-31 23:48:49,23.0,0,0,1
812172,419.0,2016-12-31 23:48:58,2016-12-31 23:48:58,23.0,0,0,1
812173,781.0,2016-12-31 23:49:22,2016-12-31 23:49:22,23.0,0,0,1
812174,88.0,2016-12-31 23:49:42,2016-12-31 23:49:42,23.0,0,0,1
812175,227.0,2016-12-31 23:50:23,2016-12-31 23:50:23,23.0,0,0,1
812176,1473.0,2016-12-31 23:50:39,2016-12-31 23:50:39,23.0,0,0,1
812177,316.0,2016-12-31 23:51:27,2016-12-31 23:51:27,23.0,0,0,1
812178,983.0,2016-12-31 23:51:29,2016-12-31 23:51:29,23.0,0,0,1
812179,275.0,2016-12-31 23:51:55,2016-12-31 23:51:55,23.0,0,0,1
812180,2182.0,2016-12-31 23:52:04,2016-12-31 23:52:04,23.0,0,0,1
812181,128.0,2016-12-31 23:52:34,2016-12-31 23:52:34,23.0,0,0,1
812182,1126.0,2016-12-31 23:52:54,2016-12-31 23:52:54,23.0,0,0,1
812183,1089.0,2016-12-31 23:53:23,2016-12-31 23:53:23,23.0,0,0,1
812184,750.0,2016-12-31 23:53:28,2016-12-31 23:53:28,23.0,0,0,1
812185,1258.0,2016-12-31 23:53:42,2016-12-31 23:53:42,23.0,0,0,1
812186,121.0,2016-12-31 23:55:50,2016-12-31 23:55:50,23.0,0,0,1
812187,441.0,2016-12-31 23:56:15,2016-12-31 23:56:15,23.0,0,0,1
812188,1026.0,2016-12-31 23:56:19,2016-12-31 23:56:19,23.0,0,0,1
812189,1747.0,2016-12-31 23:56:35,2016-12-31 23:56:35,23.0,0,0,1
812190,951.0,2016-12-31 23:59:31,2016-12-31 23:59:31,23.0,0,0,1
812191,1322.0,2016-12-31 23:59:56,2016-12-31 23:59:56,23.0,0,0,1

lets run the scipy KS test

In [127]:
import scipy.stats
#remember that your imports should all be at the top. I leave it here to hightlight that this package is needed at this point of the workflow

# KS tests to compare 2 samples

http://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ks_2samp.html

the KS test in scipy returns the p-value BUT make sure you understand what the NULL is! read the documentation carefully! what is the null hypothesis that you can/cannot reject?

In [128]:

ks = scipy.stats.ks_2samp(df1[df1.day == 1]['Trip Duration'], df1[df1.day == 0]['Trip Duration'])
print (ks)
# since the pvalue is low, we can reject the null hypothesis

Ks_2sampResult(statistic=0.90738753810825434, pvalue=0.0)

**  FILL IN THE CELL BELOW!**

###### since the pvalue is lower than 0.05, we can reject the null hypothesis, which implies that the during of trips took place at night and at day time are statistically different

The scipy.stats KS test already tells me the significance and the p-value. 

The next few cells are here just to show you how you would obtain the same result by hand, but they are **not required**. 

Remember: the Null hypothesis is rejected if 

$D_KS(n1,n2) > c(\alpha) \sqrt{\frac{(n1 + n2)}{n1n2}}$

(see class notes) where $c(\alpha$) is the inverse of the KS distribution, and you do not have to know how to get that cause there are tables that list critical values!! 

http://www.real-statistics.com/tests-normality-and-symmetry/statistical-tests-normality-symmetry/kolmogorov-smirnov-test/kolmogorov-distribution/

But also this result depends in your choice of binning through, and thustheresultyou get by hand may not be exactly the same as the one the KS returns. Either way: this is how you would calculate the KS statistics by hand.

# Now retest using a test for correlation. 

That will answer a slightly different question though - formulate the NULL appropriately. The tests for correlations (generally) requires the variable to be paired, so that I can tell if x changes does y change similarly. But the datasets are of different size! You will need to reduce them to the same size. You can do that by subsampling of the data: take only 1 ride every of 200, which you can achieve "slicing and broadcasting" the array or using one of the python function (built in python numpy.random.choice() functions for example: Docstring:
choice(a, size=None, replace=True, p=None)

Generates a random sample from a given 1-D array

        .. versionadded:: 1.7.0

Parameters
...

But make sure you understand how to use it! there is an option "replace" which you should think about.

# Pearson's  test for correlation

** notice that the Pearson's is a pairwise test: the samples need to be **
 a. the same size
 b. sorted! (how??)
    
http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html#scipy.stats.pearsonr

In [130]:
# your code here!
# wrangle the data as needed
# please perform the Pearson's test 
# and tell me what you find in terms of NULL hypothesis
r1, pval1 = scipy.stats.pearsonr(np.sort(df1['Trip Duration']*df1.day), np.sort(df1['Trip Duration']*df1.night))
print(r1, pval1)
print('the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis')

nan 1.0
the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis

# Spearman's  test for correlation

http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html#scipy.stats.spearmanr

In [131]:
# your code here!
# wrangle the data as needed
# please perform the Spearman's test and tell me what you find in terms of NULL hypothesisc
r11, pval11= scipy.stats.spearmanr(df1['Trip Duration']*df1.day, df1['Trip Duration']*df1.night)
print(r11, pval11)
print('The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha')

nan nan
The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha

nan

In [35]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [38]:
df.location = list(zip(df['Start Station Latitude'],df['Start Station Longitude']))
# geolocator.reverse(zip(df['Start Station Latitude'][1],df['Start Station Longitude'][1])).raw

In [47]:
geolocator.reverse(df.location[13498]).raw

{'address': {'building': 'Exchange Place Center',
  'city': 'Jersey City',
  'country': 'United States of America',
  'country_code': 'us',
  'county': 'Hudson County',
  'neighbourhood': 'Colgate Center',
  'postcode': '07302',
  'road': 'Christopher Columbus Drive',
  'state': 'New Jersey'},
 'boundingbox': ['40.7163962', '40.7169426', '-74.0338875', '-74.0327492'],
 'display_name': 'Exchange Place Center, Christopher Columbus Drive, Colgate Center, Jersey City, Hudson County, New Jersey, 07302, United States of America',
 'lat': '40.71667385',
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 'lon': '-74.0333081035378',
 'osm_id': '259774431',
 'osm_type': 'way',
 'place_id': '130844681'}

In [61]:
bk_zip = [11212, 11213, 11216, 11233, 11238, 11209, 11214, 11228,1204,
          11218, 11219, 11230,11234, 11236, 11239,11223, 11224, 11229, 
          11235,11201, 11205, 11215, 11217, 11231,1203, 11210, 11225, 
          11226,11207, 11208,11211, 11222,11220, 11232,1206, 11221, 11237]
          
mn_zip = [10026, 10027, 10030, 10037, 10039,10001, 10011, 10018, 
          10019, 10020, 10036,10029, 10035, 10010, 10016, 10017, 
          10022,10012, 10013, 10014,10004, 10005, 10006, 10007, 
          10038, 10280, 10002, 10003, 10009,10021, 10028, 10044, 
          10065, 10075, 10128,10023, 10024, 10025, 10031, 10032, 10033, 10034, 10040]

bk_zip = list(map(str, bk_zip))
mn_zip = list(map(str, mn_zip))

#source: https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm

In [65]:
def get_zip(location): 
    zipcode = geolocator.reverse(location).raw['address']['postcode']
    return(zipcode)

In [89]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
df['zip'] = 0

In [100]:
df.zip = list(map(lambda x: search.by_coordinate(x[0], x[1], returns=1)[0]['Zipcode'], df.location))

In [105]:
df.to_csv('data_backup.csv')

In [103]:
def get_mnbk(zipcode): 
    if zipcode in bk_zip: 
        return(1)
    if zipcode in mn_zip:
        return(0)
    else: 
        return(2)
df['mnbk'] = 0
df.mnbk = list(map(get_mnbk, df.zip))

In [107]:
df['age'] = 2017 - df['Birth Year']

In [113]:
np.unique(df.zip)

array(['07302', '07304', '07305', '07306', '07307', '07310', '07311'], dtype=object)

In [108]:
ks2 = scipy.stats.ks_2samp(df[df.mnbk == 1]['age'], df[df.mnbk == 0]['age'])
print (ks2)
# since the pvalue is low, we can reject the null hypothesis

ValueError: zero-size array to reduction operation maximum which has no identity

0        49.0
1        39.0
2        29.0
3        31.0
4        31.0
5        52.0
6        35.0
7        33.0
8        52.0
9        59.0
10       40.0
11       48.0
12       56.0
13       32.0
14       31.0
15       43.0
16       40.0
17       30.0
18       32.0
19        NaN
20        NaN
21       39.0
22       31.0
23       50.0
24       26.0
25       33.0
26       42.0
27       26.0
28       48.0
29       38.0
         ...
12896    31.0
12897    35.0
12898    41.0
12899    40.0
12900    27.0
12901    42.0
12902    43.0
12903    41.0
12904    29.0
12905    34.0
12906    76.0
12907    45.0
12908    39.0
12909    29.0
12910    30.0
12911    31.0
12912    23.0
12913    35.0
12914    28.0
12915    36.0
12916    30.0
12917    28.0
12918     NaN
12919    41.0
12920    27.0
12921    37.0
12922    31.0
12923    29.0
12924    29.0
12925    30.0
Name: age, Length: 47075, dtype: float64

In [ ]:
# your code here!
# wrangle the data as needed
# please perform the Pearson's test 
# and tell me what you find in terms of NULL hypothesis
r2, pval2 = scipy.stats.pearsonr(np.sort(df.age*df.bk), np.sort(df.age*df.mn))
print(r2, pval2)
print('the correlation between the trip duration taking place at day time and night time is strong and statistically significant, hence fail to reject null hypothesis')

In [ ]:

# wrangle the data as needed
# please perform the Spearman's test and tell me what you find in terms of NULL hypothesisc
r22, pval22= scipy.stats.spearmanr(df.age*df.bk, df.age*df.mn)
print(r22, pval22)
print('The correlation between the two data set is weak (the two data set are statistically different) and we reject the null hypothesis since p < alpha')